:root {
    --bg-color-1: white;
    --input-color-1: #f5f5f5;
    --color-text-1: #3d3d3d;
    --line-non-active: #c4c4c4;
    /*--line-active: #7500ff;*/
    --line-active: #7500ff;
    --line-active-hover: #9131ff;
    --border-input: 1px #cbcbcb solid;
}